<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="taskJsonPath" value="L:\TaskJson" /> <!--Path for the Task.json-->
    <add key="destination" value="C:\temp\"/> <!--Path for the files to be moved to (remember to include the '\' at the end of the path!-->
    <add key="presetLocation" value="L:\Presets"/> <!--Path for the presets to be stored in-->
  </appSettings>
</configuration>